*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
definitions/Makefile
definitions/Makefile.in
install-sh
missing
models/Makefile
models/Makefile.in
src/Makefile
src/Makefile.in
src/dimensions.inc
src/rmodel.dSYM/
src/rmodel.inc
src/version.inc
src/*.o
src/rmodel
stamp-h1

.gitignore~

docs/_build
